$white: #ffffff;
$white-two: #d8d8d8;

$royal: #0a2896;
$azure: #00a0df;
$azure-two: #00a0df;
$light-blue: #c5eaf8;
$seafoam-blue: #76b8d1;
$cerulean: #0089be;
$light-cyan: #caf0ff;
$light-cyan-two: #a5d7ea;
$black: #000000;
$black-two: #1a1a1a;
$blue-blue: #1851c7;
$blue-blue-two: #1750c6;
$battleship-grey: #727887;
$off-white: #fff7e0;
$yellow-orange: #f7b500;
$light-peach: #fed6bb;
$bright-orange: #fa6400;
$tomato: #e02020;
$light-pink: #fbe0e0;

$pale-grey: #f7f8fd;
$pale-grey-two: #dce0e8;
$pale-grey-four: #e8ecf3;
$pale-grey-five: #f8fafd;

$cloudy-blue: #c0c5d2;

/////////////////////////////////

// main-colors
$vtb-main-color: $royal;

// components

// VM (vertical-menu)
$vm-background-color: $pale-grey-four;
$vm-text-color: $cloudy-blue;
$vm-border-color: $pale-grey-two;

// popup
$btn-blue-color: $azure;
$bg-subjects: #ebedf8;
$subjects-scrollbar-color: $azure;
$bg-subject-subtitles: #d8dbeb;


// menu
$vm-background-right: $vtb-main-color;
$vm-active-item: $pale-grey-two;

// search-input
$error-color: $tomato;
$search-input-border-color: $battleship-grey;
$search-label-color: $battleship-grey;
// search-select
$select-color: $search-label-color;
$select-active-color: $azure;

// tabs
$tab-color: #2d4ec4;
$tab-font-color: #7c97f9;

// tabs-registration
$tabs-registration-active-color: $pale-grey-five;

// buttons
$btn-color: $azure;
$btn-active-color: $cerulean;
$btn-font-color: $white;

// circle-btn
$circle-btn-color: $light-cyan;
$circle-btn-active-color: $light-cyan-two;

// table
$table-row-color: $pale-grey;
$table-active-row-color: $azure;
$table-border-color: $cloudy-blue;

// currencies select
$cy-select-bg-color: $light-blue;
$cy-active-font-color: $azure;
$cy-font-color: $seafoam-blue;


