// vertical Menu (vm)
// =============
$vm-small-width: 64px;
$vm-widen-width: 150px;
$vm-item-wrap-height: 64px;
$vm-item-height: 64px;

// vm-search-input
$vm-search-form-width: auto;
$vm-input-height: 44px;
$vm-input-padding-left: 13px;
$vm-input-padding-right: 6px;

// popup-search-input
$subject-search-width: 634px;
$subject-search-height: 54px;
$subject-title-height: 58px;
$subtitle-height: 47px;
$search-tag-height: 35px;

// Buttons
$btn-height: 48px;
$btn-radius: 24px;
$btn-font-size: 11.2px;
$circle-btn: 28px;

// Tabs
$tab-item-height: 50px;
$tab-item-width: 120px;

// SR-Registration
$registration-tab-height: 45px;
$registration-tab-width: 105px;
$registration-btn-height: 45px;
// $registration-btn-width: 208px;
