.vm-header {
  width: 100%;
  flex: 0;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.18);
  background: $white;
  .logo {
    background: url('/path/hamburger-butt.svg') no-repeat center;
    width: 100%;
    height: $vm-item-wrap-height;
  }
  .logo-big {
    background: url('/path/vtb-logo-3.svg') no-repeat center;
    width: 100%;
    height: $vm-item-wrap-height;
  }
  &:hover {
    cursor: pointer;
  }
}
