.vm-right {
  width: 157px;
  overflow: hidden;
  &__list {
    .menu-item-wrap {
      &:hover {
        .menu-item {
          color: inherit;
          box-shadow: none;
          background: rgba($white, .1);
        }
      }
      .menu-item {
        &__name {
          @extend %ellipsis;
          margin-left: 15px;
          margin-right: 10px;
        }
      }
      .active {
        color: inherit;
        box-shadow: none;
        background: rgba($white, .1);
      }
    }
  }
}