.vm-search {
  position: relative;
}

.vm-search-form {
  white-space: nowrap;
  flex: 0;
  width: 383px;
  overflow: hidden;
  padding: 25px 0;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);

  .search-layout {
    .search-header {
      @extend %flex-center;
      padding: 0 25px 0 15px;

      &__back-button {
        @extend %flex-center;

        &__icon {
          background: url('/path/arrow-left.svg') no-repeat center;
          width: 9px;
          height: 20px;
        }
      }

      &__title {
        flex: 1;
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.18;
        letter-spacing: -0.39px;
        padding-left: 18px;
      }

      &__clear-button {
        &__icon {
          background: url('/path/delete-all-icon.svg') no-repeat center;
          width: 28px;
          height: 28px;
        }
      }
    }

    .search-select {
      margin: 25px;
      // padding: 0 25px;
      position: relative;

      &__arrow {
        @extend %flex-center;
        height: 100%;
        position: absolute;
        pointer-events: none;
        top: 0;
        right: 13px;

        &__icon {
          background: url('/path/arrow-down.svg') no-repeat center;
          transform: rotate(-90deg);
          width: 20px;
          height: 100%;
        }
      }

      select {
        width: 100%;
        outline: none;
        border: none;
        background: transparent;
        appearance: none;
        border: 1px solid $search-input-border-color;
        border-radius: 4px;
        padding-left: $vm-input-padding-left;
        font-size: 16px;
        letter-spacing: 1px;
        transition: 0.3s;
        height: $vm-input-height;

      }
    }

    .search-input-list {
      padding: 0 25px;
    }

    .search-button {
      @extend %flex-center;
      width: 100%;

      .btn {
        flex: 1;
        margin: 0 85px;
      }

      .btn-fill {
        @include btn-fill($btn-blue-color, $btn-height);
      }
    }
  }

}