@import "body";
@import "bottom";
@import "header";
@import "right";
@import "search";

.vm {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  height: 100vh;
  background: $vm-background-color;

  &__layout {
    height: 100%;
    display: flex;
    font-size: 11px;

    &__left {
      font-size: 13px;
      color: $vm-text-color;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
      letter-spacing: 0.15px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      width: $vm-small-width;
      height: 100%;
      display: flex;
      flex-direction: column;
      transition: width .3s;
      z-index: 3;
    }

    &__right {
      color: $white;
      height: 100%;
      display: flex;
      letter-spacing: -0.2px;
      flex-direction: column;
      box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
      background: $vm-background-right;
      z-index: 2;
    }

    &__search {
      background: $white;
      z-index: 1;
      width: $vm-search-form-width;

    }
  }

  ul,
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.widen {
  width: $vm-widen-width;
}

.menu-item-wrap {
  height: $vm-item-height;
  padding: 11px 0;
  overflow: hidden;
  cursor: pointer;

  .menu-item {
    height: $vm-item-height;
    display: flex;
    align-items: center;

    &__icon {
      @extend %flex-center-center;
      flex: 0 0 $vm-small-width;
      text-align: center;
      font-size: 15px;
    }

    &__name {
      @extend %ellipsis;
      flex: 1;
      margin-right: 5px;
    }
  }

  &:hover {
    .menu-item {
      color: $vtb-main-color;
      box-shadow: inset 3px 0px 0px 0px $vtb-main-color;
      background: rgba($vtb-main-color, .1);
    }
  }

  .active {
    color: $vtb-main-color;
    box-shadow: inset 3px 0px 0px 0px $vtb-main-color;
    background: rgba($vtb-main-color, .1);
  }
}


.person-icon {
  width: 39px;
  height: 39px;
  margin: auto auto;
  border: 1px solid $vm-text-color;
  border-radius: 50%;
  background: url('./../../assets/icons/group-68.png') no-repeat center;
}