@mixin btn-fill($color, $height) {
  @extend %flex-center-center;
  box-sizing: border-box;
  border: solid 1px $color;
  cursor: pointer;
  background: $color;
  color: $white;
  height: $height;
  border-radius: $height / 2;
  padding: 0 $height / 2;
  font-weight: inherit;
  &:hover {
    color: $color;
    background: $white;
  }
  &:active {
    background: rgba($color, .3);
  }
}

@mixin btn-empty($color, $height) {
  @extend %flex-center-center;
  box-sizing: border-box;
  border: solid 1px $color;
  cursor: pointer;
  background: $white;
  color: $color;
  height: $height;
  border-radius: $height / 2;
  padding: 0 $height / 2;
  font-weight: inherit;
  &:hover {
    color: $white;
    background: $color;
  }
  &:active {
    background: rgba($color, .3);
  }
}
