@mixin btn-fill($height: $btn-height, $main-color: $btn-color, $active-color: $btn-active-color, $font-color: $btn-font-color, $font-active-color: $btn-font-color) {
  @extend %flex-center-center;
  box-sizing: border-box;
  // border: solid 1px $main-color;
  cursor: pointer;
  background: $main-color;
  color: $font-color;
  height: $height;
  border-radius: $height / 2;
  padding: 0 $height / 2;
  font-weight: inherit;
  &:hover, &:active {
    color: $font-active-color;
    background: $active-color;
  }
}

@mixin btn-empty($height: $btn-height, $main-color: $btn-color, $active-color: $btn-active-color, $font-color: $btn-font-color) {
  @extend %flex-center-center;
  box-sizing: border-box;
  border: solid 1px $main-color;
  cursor: pointer;
  background: transparent;
  color: $main-color;
  height: $height;
  border-radius: $height / 2;
  padding: 0 $height / 2;
  font-weight: inherit;
  &:hover, &:active {
    color: $font-color;
    background: $active-color;
  }
}
