@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}



div.spinner-vtb {
  @extend %flex-center-center;
  width: 150px;

  svg.spinner-vtb {
    width: 100%;
    animation: spin .8s cubic-bezier(.66, .20, .19, .63) 0s infinite;
  }
}