.popup-wrap {
  position: fixed;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  .popup-main {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .popup-layout {
        position: fixed;
        width: 100%;
        height: 100%;
        background: $black;
        opacity: .4;
        top: 0;
        left: 0;
      }
      .popup-card {
        z-index: 1;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        width: 381px;
        height: 197px;
        border-radius: 10px;
        box-shadow: 0 60px 120px 0 rgba(0, 0, 0, 0.3);
        background-color: $white;
        position: relative;
          padding: 15px;
        &__close {
          text-align: right;
          cursor: pointer;
        }
        &__header {
          &__title {
            font-size: 28px;
            line-height: 2.14;
            letter-spacing: 0.34px;
          }
        }
        &__body {
          height: 100%;
          font-size: 14px;
          font-weight: normal;
          color: rgba(0, 0, 0, 0.85);
        }
        &__actions {
          display: flex;
          justify-content: center;
          padding: 0 10px 20px 10px;
          .btn {
            @extend %btn;
            width: 163px;
            margin-right: 10px;
            &:last-child {
              margin-right: 0;
            }
          }
          .btn-fill {
            @extend %btn-fill;
          }
          .btn-empty {
            @extend %btn-empty;
          }
        }
      }
    }
  }