.popup-wrap {
  text-align: center;
  color: rgba($black, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  & * {
    box-sizing: border-box;
  }
  .popup-main {
    @extend %flex-center-center;
    // @extend %flex;
    height: 100%;
    .popup-layout {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    .popup-card {
      z-index: 1;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      box-shadow: 0 60px 120px 0 rgba(0, 0, 0, 0.3);
      background-color: $white;
      position: relative;
      &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 12px;
        text-align: right;
        cursor: pointer;
      }
      &__header {
        height: 63px;
        line-height: 60px;
        &__title {
          font-size: 27px;
          letter-spacing: 0.34px;
        }
      }
      &__body {
        height: 43px;
        font-size: 14px;
        font-weight: normal;
      }
      &__actions {
        display: flex;
        justify-content: center;
        padding: 0 10px 20px 10px;
        [class*="btn-"] {
          width: 165px;
          font-size: $btn-font-size;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        .btn-fill {
          @include btn-fill($btn-blue-color, $btn-height);
        }
        .btn-empty {
          @include btn-empty($btn-blue-color, $btn-height);
        }
      }
    }
  }
}