// *-enter-active = время анимации появления
// *-leave-active = время анимации исчезновения


// Для анимации названий меню при раскрытии
.widen-item-enter-active {
  transition: all .4s;
}
.widen-item-enter, .widen-item-leave-to /* .widen-item-leave-active в версии ниже 2.1.8 */ {
  transform: translateY(-32px);
  opacity: 0;
}
// ==========================

// Для лого меню
.widen-logo-enter-active {
  transition: all .4s;
}
.widen-logo-enter,  /* .widen-item-leave-active в версии ниже 2.1.8 */ {
  transform: translateY(-50px);
}
// =================


// Правая часть меню
.right-menu-enter-active, .right-menu-leave-active {
  transition: all .4s;
}
.right-menu-enter {
  width: 0;
}

.right-menu-leave-to {
  width: 0;
}
// =================


// Поиск-лист вертикальное меню
.search-menu-enter-active, .search-menu-leave-active {
  transition: all .4s;
}
.search-menu-enter, .search-menu-leave-to {
  width: 0;
  padding: 25px 0;
  opacity: 0;
}

// .search-menu-leave-to {
//   width: 0;
//   padding: 25px 0;
// }
// =================
