.scroll-x {
  width: 100%;
  overflow-x: scroll;
}

.scroll-x::-webkit-scrollbar{
  height: 8px;
}

.scroll-x::-webkit-scrollbar-track{
  background-color: #ccc;
  border-radius: 4px;
  margin: 10px 15px;
}

.scroll-x::-webkit-scrollbar-thumb{
  border-radius: 4px;
  width: 80px;
  background-color: $subjects-scrollbar-color;
  transition: background-color 0.2s;
}

.scroll-x::-webkit-scrollbar-thumb:hover{
  background-color: rgba($subjects-scrollbar-color, 0.8);
}