body {
  font-family: 'Helvetica';
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

%ellipsis {
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}