.tooltip-sm {
  color: $white;
  // top: 10px;
  // left: 10px;
  box-sizing: border-box;
  max-width: 300px;
  border-radius: 10px;
  position: fixed;
  background: rgba($black, 0.8);
  padding: 10px;
  z-index: 1000;

  &-arrow {
    content: '';
    position: fixed;
    border-style: solid;
    border-width: 10px;
    border-top-color: rgba($black, 0.8);
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}