.tabs-pane {
  @extend %flex;
  font-size: 10px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: rgba(0, 0, 0, 0.85);
  &__item {
    @extend %flex-center-center;
    overflow: hidden;
    box-sizing: border-box;
    background: $tab-color;
    color: $tab-font-color;
    border-radius: 10px;
    padding: 10px;
    height: $tab-item-height;
    width: $tab-item-width;
    margin-right: 7px;
    cursor: pointer;
    &__value {
      overflow: hidden;
    }
  }
  .active {
    background: $white;
    color: $black;
  }
}
