.table {
  background: $table-row-color;
  border-radius: 0 0 6px 6px;
  border-left: 1px solid $table-border-color;
  border-right: 1px solid $table-border-color;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .table-header {
    @extend %flex;
    background: $white;
    height: 33px;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    box-shadow: 0px 5px 7px 0px rgba($black, 0.4);
    border-radius: 0 0 6px 6px;

    &__item {
      overflow: hidden;
      box-sizing: border-box;
      max-height: 100%;
      @extend %flex-center;

      &__value {
      position: relative;
        // @extend %ellipsis;
        max-height: 23px;
        overflow: hidden;
      }

      .header-clone-item {
        position: fixed;
        top: -10000px;
        left: -10000px;
        opacity: 0;
        box-sizing: border-box;
        font-size: 10px;
        display: flex;

        &__value {
          max-height: 23px;
        }
      }
    }
  }

  .table-body {
    @extend %flex-col;

    &__row {
      @extend %flex-center;
      height: 56px;
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.25;
      letter-spacing: normal;
      border-bottom: 1px solid $table-border-color;
      border-radius: 0 0 6px 6px;
      transition: background 1s;

      &__item {
        overflow: hidden;
        box-sizing: border-box;
        max-height: 100%;
        cursor: pointer;
        overflow: hidden;

        &__value {
          max-height: 46px;
          line-height: 16px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .table-icon {
          @extend %flex-center;
          width: 28px;
        }

        .drilldown {
          color: $azure-two;
          font-weight: bold;
        }
      }

      &__error {
        @extend %flex-center;
        margin-left: 95px;
        color: $error-color;

        &__text {
          margin-left: 12px;
        }
      }
    }

    .active {
      background: rgba($table-active-row-color, .2);
    }
  }
}